<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link
      href="../css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <style>
      .container {
        max-width: 560px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="py-5 text-center">
        <h2>게시글 등록 폼</h2>
      </div>
      <h4 class="mb-3">게시글 입력</h4>

      <form action="board.html" th:action method="post">
        <div>
          <label for="title">제목</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            placeholder="제목을 입력해주세요"
          />
        </div>
        <div>
          <label for="name">글쓴이</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="닉네임을 입력해주세요"
          />
        </div>
        <div>
          <label for="content">본문</label>
          <textarea
            type="text"
            id="content"
            name="content"
            class="form-control"
            placeholder="본문을 입력해주세요"
            rows="7"
          ></textarea>
        </div>

        <hr class="my-4" />
        <div class="row">
          <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">
              게시글 등록
            </button>
          </div>
          <div class="col">
            <button
              class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='boards.html'"
              th:onclick="|location.href='@{/boards}'|"
              type="button"
            >
              취소
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- /container -->
  </body>
</html>
