<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      th:href="@{/css/bootstrap.min.css}"
      href="../css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>테스트 페이지</title>
  </head>

  <body>
    <h1>테스트 페이지!</h1>

    <h1>[[${cnt}]]</h1>
    <h1>[[${test}]]</h1>
  </body>
</html>
